body {
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-nav {
    flex-direction: row; /* Asegúrate de que los elementos estén en fila */
}

.navbar {
    justify-content: center; /* Centra la barra de navegación */
}



.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #343a40;
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.section {
    display: none; /* Ocultar todas las secciones inicialmente */
}

.card {
    border: 1px solid #dee2e6;
}

.stars {
    color: gold;
    font-size: 1.2em;
}




.section {
    padding: 20px;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

/* contactanos */

.section {
    padding: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos */
    }
    
    .navbar-brand {
        margin-bottom: 10px; /* Espacio debajo del logo */
    }
}